[Desktop Entry]
Name=Anypoint Studio
Exec=~/Applications/AnypointStudio/./AnypointStudio %u
Type=Application
MimeType=x-scheme-handler/eclipse+command;