[Desktop Entry]
Version=1.0
Name=Brave Web Browser Wayland
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser Wayland
Exec=/usr/bin/brave-browser-stable --use-angle=vulkan --use-cmd-decoder=passthrough --enable-feature=UseOzonPlatform --ozone-platform=wayland --ozone-platform-hint=wayland  %U
StartupNotify=true
Terminal=false
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/brave-browser-stable --use-angle=vulkan --use-cmd-decoder=passthrough --enable-feature=UseOzonPlatform --ozone-platform=wayland --ozone-platform-hint=wayland  --incognito
