* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
	color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	border-color: #3C3C3C;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
	transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
	background-color: #3C3C3C;
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

button:focus {
	box-shadow: 0 0 5px #e91e63;
}

#lock {
	background-image: url("icons/lock.svg");
	background-size: 100px 82px;
}

#logout {
	background-image: url("icons/logout.svg");
}

#suspend {
	background-image: url("icons/suspend.svg");
}

#hibernate {
	background-image: url("icons/hibernate.svg");
}

#shutdown {
	background-image: url("icons/shutdown.svg");
}

#reboot {
	background-image: url("icons/reboot.svg");
}